build --java_toolchain=@bazel_tools//tools/jdk:toolchain_java8
build --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_java8
build --javacopt="-Xep:WildcardImport:ERROR"
test --javacopt="-Xep:WildcardImport:ERROR"
run --javacopt="-Xep:WildcardImport:ERROR"
